@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --primary-color:#b5ec1b ;
  }
html{
    position: relative;
    min-height: 100%;
}
body{
  font-family: 'Josefin Sans', sans-serif;
    background-color: #2c2b2e;
    color:var(--primary-color);
    margin: 0 0 100px;
}

.container {
    margin: 4rem auto 7rem;
    text-align: center;
  }
  
  .description {
    font-size: larger;
    margin: 1rem;
  }
  
  .input-label {
    display: block;
    font-size: large;
    font-weight: 600;
  }
  
  .input {
    font-size: 14px;
    outline:var(--primary-color);
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
  }
  
  .btn {
    background: var(--primary-color);
    border: none;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    margin: auto;
    display: block;
  }
  
  #error-message {
    display: block;
    font-size: larger;
    margin: 1rem 0 0;
  }
/* table */

  .change-table {
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
  }
  
  .change-table caption {
    margin: 1rem auto;
    font-size: x-large;
    font-weight: 500;
  }
  
  th,
  td {
    border: 2px solid var(--primary-color);
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
  }

  /* footer */

.footer-line {
    text-align: center;
    color: var(--primary-color);
    padding: 0.5rem;
}

span{
  color: rgb(223, 14, 14);
}

hr {
    border: 1px solid var(--primary-color);
}
a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: x-large;
}
.list-non-bullet {

    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}
.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 110px;
    width: 100%;
}